<% if chatroom.present? %>

  <%# users = chatroom.messages.distinct.pluck(:user_id) %>
  <h3 class="p-4">Your conversation</h3>
  <div id="messages-<%= chatroom.id %>" class="messages p-4" data-chatroom-id="<%= chatroom.id %>">
    <% chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
    <%= simple_form_for [ current_user, message ], remote: true do |f| %>
    <%= f.input :chatroom_id, :as => :hidden, :input_html => { :value => chatroom.id } %>
    <%= f.input :content, label: false, placeholder: "Type your message here..." %>
    <% end %>
  </div>
<% end %>
