<div class="row w-100 pt-4 mx-0 bg-white">
<ul class="nav nav-tabs w-100" id="myTab" role="tablist" style="z-index: 3;">
  <li class="tab nav-item <%= @tab == "incoming" ? "active" : "" %>">
    <a class="nav-link <%= @tab == "incoming" ? "active" : "" %>" id="incoming-tab" data-toggle="tab" href="#incoming" role="tab" aria-controls="incoming" aria-selected="true">My Connections</a>
  </li>
  <li class="tab nav-item <%= @tab == "myposts" ? "active" : "" %>">
    <a class="nav-link <%= @tab == "myposts" ? "active" : "" %>" id="myposts-tab" data-toggle="tab" href="#myposts" role="tab" aria-controls="myposts" aria-selected="true">My Posts</a>
  </li>
</ul>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="tab-content" id="myTabContent">
      <!-- my connections -->
        <div class="tab-pane <%= @tab == "incoming" ? "active" : "" %> fade show mt-3" id="incoming" role="tabpanel" aria-labelledby="incoming-tab" id="incoming">
          <% if @user_connections.size.zero? %>

          <p class="col-12 card my-5 mx-0 p-5">
            You don't have any connections yet. <br>
            See what your neighbours are saying:
            <a href="/" class="btn btn-success mt-3">click here to browse</a>.
          </p>
          <% end %>
          <% @user_connections.each do |connection| %>
            <% chatroom_name = [connection.responder.id,
            connection.post.author.id].sort.join('-')
            chatroom = Chatroom.find_by_name(chatroom_name)
            chatrooms = []
            unless chatrooms.include?(chatroom)
              chatrooms << chatroom %>
              <div class="chat-popup" id="chat-<%= chatroom_name %>">
                <button id="closeButton" type="button" name="close" onclick="closeForm('<%= chatroom_name %>')" class="btn btn-danger">X</button>
                <%= render "chat", chatroom: chatroom, message: @message %>
              </div>
          <% end %>
          <div class="col-12 card mb-4">
            <%= raw connection.connection_card(connection.post.author, current_user) %>
          </div>
        <% end %>
      </div>

      <!-- my posts -->
      <div class="tab-pane <%= @tab == "myposts" ? "active" : "" %> fade show mt-3" id="myposts" role="tabpanel" aria-labelledby="myposts-tab">
        <% if @posts.size.zero? %>
              <p class="col-12 card my-5 mx-0 p-5">
                You don't have any posts yet. <br>
                <a href="/posts/new?type=Offer" class="btn btn-success mt-3 w-50">offer support</a> |
                <a href="/posts/new?type=Request" class="btn btn-success mt-3 w-50">add a request</a>.
              </p>
        <% end %>
        <% @posts.each do |post| %>
          <div class="card mb-2 col-12">
            <div class="ml-3 mt-2 flip-reverse" id="myposts"> <%= raw post.header(150) %></div>
            <div class="row">
              <div class="ml-3 col-sm-8 col-10 pb-3">
                <span class='badge badge-pill badge-<%= post.color%> m-auto'><%= post.post_type %></span>
                <div class="mb-2 mt-2"><%= post.description %></div>
                <div class="mb-2"><%= post[:location] %></div>
              </div>
              <div class="mb-3 mr-3 col-2 d-flex text-right align-items-end">
                <i class=" mr-2 ml-5 fas fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
// Chatroom open/close
function openForm(chatroom) {
  document.getElementById(`chat-${chatroom}`).style.display = "block";
}

function closeForm(chatroom) {
  document.getElementById(`chat-${chatroom}`).style.display = "none";
}
</script>
