<%= form_tag "/posts" do %>
  <div class="d-flex justify-content-between">
    <p>Filter by category:</p>
    <p> x clear</p>
  </div>

  <% Category.all.each do |cat| %>
  <button data-action="click->filter#refresh"
    value="{id: <%= cat.id %>, name: <%= cat.name %>">
    <i class="<%= cat.icon %>"></i>
    <%= cat.name %>
  </button>
  <% end %>

  <%= submit_tag "Filter", class: "btn-save btn btn-primary btn-sm" %>
<% end %>
