<%= form_tag "/posts", class: "" do |f| %>
  <div class="d-flex justify-content-between">
    <p>Filter by category:</p>
    <p> x clear</p>
  </div>

<!--
  <% Category.all.each do |cat| %>
  <button>
    <%= check_box(cat.id, cat.name) %>
    <i class="<%= cat.icon %>"></i>
    <%= cat.name %>
  </button>
  <% end %>
--->

  <%= select_tag "categories", options_from_collection_for_select(Category.all, "id", "name"), multiple: true %>
  <%= submit_tag "Filter", class: "btn-save btn btn-primary btn-sm" %>
<% end %>
