<div class="card post-card">
  <div class="card-type">
    <span class="badge badge-pill badge-<%= post.color %>">
      <%= post.post_type.downcase %>ing
    </span>
  </div>
  <%= raw post.graphic %>
  <div class="card-body pt-0">
    <h3><%= post.title %></h3>
    <%= post.description.truncate(120, separator: ' ', omission: '... (click connect to read more)') %>
  </div>
  <div class="card-footer text-center">
    <%= link_to "connect with #{post.author.name.split[0]}",
        post_path(post),
        class: "btn btn-outline-primary rounded btn-block mb-2" %>
    <i class="fas fa-map-marker-alt"></i>
    <small><% post.location %></small>
  </div>
</div>
