<%= render "landing", post: @post %>

<div id="map" style="width: 100%; height: calc(95vh - 110px);"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<div class="container mt-n4">

  <form method="get "action="/posts" id="map-filters">
    <%= hidden_field_tag :query, params[:query]  %>
    <div class="row">
      <div class="col-6 px-1">
        <button type="submit" name="query" class="browse-btn blue" value="Offer">
        <span class="uln-blue">Browse Offers</span>
        </button>
      </div>
      <div class="col-6 px-1">
        <button type="submit" name="query" class="browse-btn yellow" value="Request">
        <span class="uln-yellow">Browse Requests</span>
        </button>
      </div>
    </div>
    <hr>
    <%= render "filter_bar", post: @post %>
  </form>

  <%= render "all", post: @post %>
</div>

