<%= render "landing", post: @post %>

<div data-controller="filter">

  <div id="map" style="width: 100%; height: calc(80vh - 110px);"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
       data-target="filter.map">
  </div>

  <div class="container mt-n4">
      <div class="row mb-2">
        <div class="col-6 px-1">
          <input type="checkbox" id="request" name="type" value="Request" checked = true data-action="change->filter#refresh">
          <label for="request" class="browse-btn yellow">
            <span>Browse Requests</span>
          </label>
        </div>
        <div class="col-6 px-1">
          <input type="checkbox" id="offer" name="type" value="Offer" checked = true data-action="change->filter#refresh">
          <label for="offer" class="browse-btn blue">
            <span>Browse Offers</span>
          </label>
        </div>
      </div>
      <%= render "filter_bar", post: @post %>
    </form>
    <div id="postsContainer" class="row justify-content-center" data-target="filter.posts">
      <%= render "all", post: @post %>
    </div>
  </div>
</div>
