
<div id="map"
     style="width: 100%; height: 500px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<div class="container mt-3">
  <form method="get "action="/posts">
    <%= hidden_field_tag :query, params[:query]  %>
    <button type="submit" name="query" value="Request">Browse Requests</button>
    <button type="submit" name="query" value="Offer">Browse Offers</button>
    <%= render "filter_bar", post: @post %>
  </form>

  <%= render "all", post: @post %>
</div>

