<h1>Posts#show</h1>
<%= link_to '<-- back to all posts', posts_path %>

<h1>Thanks for supporting the community</h1>
<h2>Please message your neighboor to confirm that help is on the way</h2>

<div class="booking-card">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="book-container">
        <div id="map"
          style="width: 100%; height: 400px;"
          data-marker="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <div class="content">
        </div>
      </div>
      <div class="informations-container">
        <h2 class="title">Post type: <%= @post.post_type %></h2>
        <p class="sub-title">Location: <%= @post.location %></p>
        <div class="more-information">
          <div class="box info">
            <p>Description: <%= @post.description %> </p>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>

<!--     <div class="col-sm-12 col-md-6">

      <ul>
        <li>Post type: <%= @post.post_type %></li>
        <li>Title: <%= @post.title %></li>
        <li>Category: <%= @post.category.name %></li>
        <li>Author: <%= @post.author.name %></li>
        <li>Description: <%= @post.description %></li>
        <li>Location: <%= @post.location %></li>
        <li>Priority: <%= @post.priority %></li>
      </ul>
    </div> --> -->



    <div class="col-sm-12 col-md-6">

      <p>To: <%= @post.author.name %> </p>
      <%= simple_form_for ([ @post, @connection ]) do |f| %>
        <%= f.input :message, placeholder: 'Help is on the way!' %>
        <%= f.button :submit, 'send', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>



