<div id="map"
   style="width: 100%; height: 33vh;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

   <a class="btn btn-outline-secondary" href="<%= posts_path  %>" role="button">Back to All Posts</a>
</div>

<div class="container mt-n4">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="card shadow-sm p-3 mb-4 bg-white rounded">
       <%= raw @post.header %>
        <div class="card-body">
          <span class="badge badge-pill badge-<%= @post.color %>">
            <%= @post.post_type.downcase %>ing
          </span>
          <p><%= @post.description %></p>
        </div>
      </div>
    </div>
    <div class='col-md-4 col-sm-12'>
      <div class="shadow-sm p-3 bg-white rounded">
        <%= simple_form_for ([ @post, @connection ]) do |f| %>
          <% if @post.post_type == "Request" %>
            <%= f.input :message, input_html: { value: 'Help is on the way!'} %>
            <% else %>
            <%= f.input :message, input_html: { value: 'Thanks for you generosity!'} %>
          <% end %>
            <%= f.button :submit, 'Connect', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
