<h1>Posts#show</h1>
<%= link_to '<-- back to all posts', posts_path %>
<ul>
  <li>Post type: <%= @post.post_type %></li>
  <li>Title: <%= link_to @post.title, post_path(@post) %></li>
  <li>Category: <%= @post.category.name %></li>
  <li>Author: <%= @post.author.name %></li>
  <li>Description: <%= @post.description %></li>
  <li>Location: <%= @post.location %></li>
  <li>Priority: <%= @post.priority %></li>
</ul>

