<h1>Posts#show</h1>
<%= link_to '<-- back to all posts', posts_path %>

<div class="text-center">
  <h2>Thanks for supporting the community</h2>
  <p>Please message your neighboor to confirm that help is on the way</p>
</div>


<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div id="map"
          style="width: 100%; height: 400px;"
          data-marker="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <div class="post-card">
          <div class="card-type">
            <%= case @post.priority
              when "High" then raw '<span class="badge badge-pill badge-danger">requesting</span>'
              when "Medium" then raw '<span class="badge badge-pill badge-warning">requesting</span>'
              when "Low" then raw '<span class="badge badge-pill badge-info">requesting</span>'
              else raw '<span class="badge badge-pill badge-primary">offering</span>'
              end %>
          </div>
          <%= if @post.post_type == "Request"
            raw '<div class="card-head p-3 text-larger" style="flex-direction: row-reverse">
              <div class="post-icon post-request">'
            else
            raw '<div class="card-head p-3 text-larger">
              <div class="post-icon post-offer">'
          end %>
          <%= case @post.priority
            when "High" then raw '<div class="icon-img-text text-danger">'
            when "Medium" then raw '<div class="icon-img-text text-warning">'
            when "Low" then raw '<div class="icon-img-text text-info">'
            else raw '<div class="icon-img-text text-primary">'
          end %>
          <%= raw @post.icon %>
          <div class="icon-text">
            <% if @post.post_type == "Request" %>
              <p><%= ["Medium", "High"].include?(@post.priority) ? "?" : " " %></p>
              <p class="pl-3">?</p>
              <p class="pl-4 pt-1"><%= @post.priority == "High" ? "?" : " " %></p>
            <% else %>
              <p style="position: relative; font-size: 50px; right: 5px; bottom: 5px; transform: rotate(-25deg);">!</p>
            <% end %>
          </div>
          </div>
            <span class="badge badge-pill badge-secondary m-auto">
              <%= @post.category.name %>
            </span>
          </div>
          <%= image_tag @post.author.img_url, class: "post-card avatar" %>
          </div>
          <div class="card-body pt-0">
          <h3><%= @post.title %></h3>
          <%= @post.description %>
          </div>
          <div class="card-footer text-center">
          <i class="fas fa-map-marker-alt"></i><small> <%= @post.location %></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div>
        <p>To: <%= @post.author.name %> </p>
        <%= simple_form_for ([ @post, @connection ]) do |f| %>
          <%= f.input :message, placeholder: 'Help is on the way!' %>
          <%= f.button :submit, 'send', class: 'btn btn-primary' %>sl
        <% end %>
      </div>
  </div>
</div>

 <!--  <div class="col-6">
    <div>
      <p>To: <%= @post.author.name %> </p>
      <%= simple_form_for ([ @post, @connection ]) do |f| %>
        <%= f.input :message, placeholder: 'Help is on the way!' %>
        <%= f.button :submit, 'send', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div> -->

<!--     <div class="col-sm-12 col-md-6">

      <ul>
        <li>Post type: <%= @post.post_type %></li>
        <li>Title: <%= @post.title %></li>
        <li>Category: <%= @post.category.name %></li>
        <li>Author: <%= @post.author.name %></li>
        <li>Description: <%= @post.description %></li>
        <li>Location: <%= @post.location %></li>
        <li>Priority: <%= @post.priority %></li>
      </ul>
    </div> -->

<!--

    <div class="col-sm-12 col-md-6">
      <p>To: <%= @post.author.name %> </p>
      <%= simple_form_for ([ @post, @connection ]) do |f| %>
        <%= f.input :message, placeholder: 'Help is on the way!' %>
        <%= f.button :submit, 'send', class: 'btn btn-primary' %>
      <% end %>
    </div> -->


