<!DOCTYPE html>
<html>
  <head>
    <title>"CommonsCloud"</title>
    <meta name="tagline" content="community mutual aid">
    <meta name="description" content="connecting neightbours in need to those can offer support">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="community mutual aid" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="logo_filled.png" />
    <meta property="og:description" content="connecting neightbours in need to those can offer support" />
    <meta property="og:site_name" content="community mutual aid" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="community mutual aid">
    <meta name="twitter:description" content="connecting neightbours in need to those can offer support">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="logo_filled.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= favicon_link_tag 'logo_favicon.png'%>


  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

  </body>
</html>
